@font-face {
  font-family: 'Niveau Grotesk regular';
  src: url('../fonts/NiveauGroteskRegular.ttf');
}

@font-face {
  font-family: 'Niveau Grotesk medium';
  src: url('../fonts/NiveauGroteskMedium.ttf');
}

@font-face {
  font-family: 'Niveau Grotesk bold';
  src: url('../fonts/NiveauGroteskBold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');