.menu-header {
  a {
    position: relative;
    padding-right: 20px;
    height: 100%;
    @include media-breakpoint-up(xxl) {
      font-size: 1.125rem;
      line-height: 1.875rem;
      letter-spacing: 0.06em;
      padding-right: 2.188rem;
    }
  }
  a.btn {
    padding: 1.125rem;

    &::after {
      content: unset;
    }

    .image {
      max-width: 1.375rem;
    }

    .text {
      font-size: 1.25rem;
      line-height: 1.25rem;
      letter-spacing: 0.18em;
      margin-left: 0.875rem;
    }

    &:hover {
      path {
        fill: $secondary;
      }
    }
  }
}
