$primary: #126534;
$primary-light: #f0f6ff;
$primary-grey: #6c798d;
$secondary: #F37F14;
$secondary-light: #efefef;
$warning: #F4B740;
$dark: #192B29;
$light: #fff;
$success: #00BA88;
$border-color: #ced4da;
$error: #ED2E39;
$dark-gray: #868686;
$dark-gray-2: #D3D3D3;
$offwhite: #F5F5F5;

